/* 검색바 보일 때, 스크롤 막기 */
html.no-scroll {
  position: fixed;

  width: 100%;

  /* scroll 필요 여부와 관계 없이 항상 스크롤 바 존재 */
  overflow-y: scroll;
}

body {
  font-size: 16px;
  line-height: 1;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  color: #1d1d1d;
  word-break: keep-all; /* 텍스트가 콘텐츠 박스에서 넘칠 때 줄바꿈 처리 속성 (한글 단어 단위 줄바꿈 처리) */
}

/* 공통 속성 */
a {
  text-decoration: none;

  color: inherit;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 100px;
  /* 버튼은 인라인 요소 */
  padding: 0 10px;
  height: 24px;

  background-color: #0071e3;

  font-size: 11px;
  line-height: 1;
  color: #fff;

  cursor: pointer;
  outline: none;
}

.btn:hover {
  opacity: 0.7;
}

.btn:focus {
  /* 접근성 tab 처리 위해, 그림자로 focus 시, 선처럼 보이도록 처리 */
  /* x, y, blur, spread, color */
  box-shadow: 0 0 0 4px #81b9f1;
}

/* Header */
header {
  background-color: #3a3a3a;
}

header .inner {
  position: relative;

  margin: 0 auto;
  max-width: 1020px;
}

header ul.menu {
  display: flex;
  justify-content: space-between;

  height: 44px;
}

header ul.menu > li {
  position: relative;

  display: flex;

  transition: 0.4s;
}

header ul.menu > li > a {
  display: flex;
  align-items: center;

  padding: 0 10px;

  font-size: 11px;
  color: #f5f5f5;
  opacity: 0.8;
}

header ul.menu > li.portfolio-logo > a,
header ul.menu > li.search-starter > a,
header ul.menu > li.contact-starter > a {
  width: 14px;

  background-repeat: no-repeat;
  background-position: center 13px;

  text-indent: -9999px;
}

header ul.menu > li.portfolio-logo > a {
  background-image: url('../images/header_portfolio.svg');
}

header ul.menu > li.search-starter > a {
  background-image: url('../images/header_search.svg');
}

header ul.menu > li.contact-starter > a {
  background-image: url('../images/header_contact.svg');
}

header ul.menu > li > a:hover {
  opacity: 1;
}

/* Header / Menu / Contact */
header .contact-modal {
  position: absolute;
  top: calc(100% + 4px);
  right: -6px;

  box-sizing: border-box;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  padding: 10px 20px;
  width: 290px;

  background: #fff;

  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}

header .contact-modal.show {
  visibility: visible;
  opacity: 1;
}

header .contact-modal .arrow {
  position: absolute;
  top: -10px;
  right: 12px;

  overflow: hidden;

  width: 20px;
  height: 10px;
}

header .contact-modal .arrow::before {
  position: absolute;
  top: 0;
  left: 50%;

  border: 1px solid #d2d2d2;
  width: 12px;
  height: 12px;

  background-color: #fff;

  content: '';

  transform: rotate(45deg);
  transform-origin: 0 0;
}

header .contact-modal .message {
  padding: 30px 0;

  text-align: center;

  font-size: 13px;
  color: #6e6e6e;
}

header .contact-modal ul li {
  border-top: 1px solid #d2d2d2;
}

header .contact-modal ul li a {
  display: block;

  padding: 14px;

  font-size: 13px;
  color: #0071e3;
}

header .contact-modal ul li a:hover {
  text-decoration: underline;
}

/* Header / Search */
header .search-wrapper {
  /* fixed / absolute 지정 시 block 요소이지만 inline처럼 가로 세로 너비가 content에 맞춰짐 */
  position: absolute;
  top: 0;
  left: 0;

  /* 위치상 부모요소 가로 너비 그대로 받기 (구조 상 아님에 주의) */
  width: 100%;
  height: 100%;

  /* 애니메이션 처리를 위해 visibility 사용 */
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}

header .search {
  position: relative;

  margin: 0 auto;
  max-width: 680px;
}

header .search .shadow {
  /* fixed / absolute 지정 시 block 요소이지만 inline처럼 가로 세로 너비가 content에 맞춰짐 */
  position: fixed;
  top: 0;
  left: 0;

  /* 위치상 부모요소 가로 너비 그대로 받기 (구조 상 아님에 주의) */
  width: 100%;
  height: 100%;

  /* 불투명 처리 */
  background-color: rgba(0, 0, 0, 0.4);
}

header .search .textfield {
  position: relative;
}

/* input은 inline-block 요소로 수평으로 쌓이지만, 가로/세로 너비 및 상하 여백 지정 가능 */
header .search input {
  box-sizing: border-box;

  border: none;
  border-radius: 10px;
  padding: 0 40px;
  width: 100%;
  height: 44px;

  /* 투명 배경 처리 */
  background-color: transparent;

  font-size: 17px;
  color: #fff;

  /* focus 시 border 없애기 */
  outline: none;
}

header .search .search-icon,
header .search .search-closer {
  position: absolute;
  top: 0;

  width: 40px;
  height: 44px;

  background-repeat: no-repeat;
  background-position: center;
}

header .search .search-icon {
  left: 0;

  background-image: url('../images/header_search.svg');

  opacity: 0.4;
}

header .search .search-closer {
  right: 0;

  background-image: url('../images/header_close.svg');

  opacity: 0.4;
  cursor: pointer;
}

header .search .search-closer:hover {
  opacity: 1;
}

header .search .recommend {
  position: absolute;
  top: 44px;
  left: 0;

  /* padding으로 인해 요소가 커지지 않도록 처리 */
  box-sizing: border-box;
  /* 시계방향 */
  border-radius: 0 0 18px 18px;
  padding: 26px 40px 20px;
  width: 100%;

  background-color: #fff;
}

header .search .recommend h3 {
  margin-bottom: 12px;

  font-size: 12px;
  color: #6e6e6e;
}

header .search .recommend ul li a {
  display: block;

  /* 좌우 늘어나게 처리 */
  margin: 0 -14px;
  padding: 10px 0 10px 30px;

  font-size: 14px;

  cursor: pointer;
}

/* 상위 태그 사용자 동작 시, 하위 태그 설정 가능 */
header .search .recommend ul li:hover a {
  background-color: #f5f5f5;
  color: #0071e3;
}

/* 애니메이션 처리 */
header .search input,
header .search .search-icon,
header .search .recommend h3,
header .search .recommend li {
  transition: 0.6s;
  transform: translate(100px, 0);
}

/* searching 클래스 존재 시 검색바 보이게 처리 */
header.searching .search-wrapper {
  visibility: visible;
  opacity: 1;
  /* 검색바 나타날 때만 딜레이 처리 */
  transition-delay: 0.2s;
}

/* searching 클래스 존재 시, li 태그들을 안보이게 처리 */
header.searching ul.menu > li {
  opacity: 0;
  transform: scale(0.7);
  /* transition-delay를 js 코드에서 작성  */
}

/* 애니메이션 처리 */
header.searching .search input,
header.searching .search .search-icon,
header.searching .search .recommend h3,
header.searching .search .recommend li {
  /* 원래 위치로 복구 */
  transform: translate(0, 0);
  transition-delay: 0.2s;
  /* li 태그들의 transition-delay를 js 코드에서 작성  */
}

/* Navigation */
nav {
  /* nav의 부모요소는 body 태그, 따라서 body 태그의 범위 내에서 동작 */
  position: sticky;
  top: 0;

  /* 쌓임 처리 */
  z-index: 10;

  border-bottom: 1px solid #d2d2d2;

  background-color: rgba(255, 255, 255, 0.7);
  /* 상위 요소 내부를 흐리게 처리  */
  backdrop-filter: blur(20px);
}

nav .inner {
  display: flex;
  align-items: center;

  margin: 0 auto;
  max-width: 1000px;
  height: 52px;
}

nav h1 {
  /* 좌로 붙이고 우 끝에 붙이게 처리 */
  flex-grow: 1;

  font-size: 22px;
  font-weight: 500;
}

nav .menu {
  display: flex;
  gap: 10px;

  margin-right: 20px;
}

nav .menu li {
}

nav .menu li a {
  display: block;

  padding: 6px;

  font-size: 11px;
}

nav .menu li:hover a {
  color: #0071e3;
}

/* 활성 네비게이션 css 처리 */
nav .menu li.active a {
  opacity: 0.5;
  cursor: default;
}

nav .menu li.active:hover a {
  color: #1d1d1d;
}

nav .links {
  display: flex;
  gap: 10px;
}
